.card {
	height: 145px;
	width: 100px;
	border: 2px solid black;
	border-radius: 10px;
	float: left;
	background: no-repeat;
	background-size: contain;
	margin-right: 10px;
}

body {
	background: brown;
}

#backCard {
	background-size: cover;
}

#dealerhand, #userHand {
	clear: both;
}

#winner {
	display: none;
	position: absolute;
	z-index: 1;
	top: 201px;
	left: 85px;
	font-size: 100px;
	color: #bfbfbf;
}

#backCard {
	display: none;
	background-image: url("cards/back.png");
}

.boardTable {
	background-color: brown;
	width: 1100px;
	padding: 0 15px 15px 15px;
	margin: 0 auto;
	position: relative;
}
.wrapper {
	height: 220px;
}
.board {
	border: 5px solid black;
	position: relative;
	height: 150px;
	padding: 20px;
	width: 800px;
	background: #007700;
	display: inline-block;
	margin: 0 auto;
	float: left;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.score {
	height:150px;
	float: left;
	background-color: #bfbfbf;
	width:241px;
	padding: 0 0 40px 0;
	border: 5px solid black;
	border-left: none;
	text-align: center;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.title {
	text-align: center;
	letter-spacing: 15px;
	color: #bfbfbf;
	font-size: 70px;
	margin-bottom: 0px;
}

span {
	color: black;
	font-size: 100px;
}

.action {
	width: 200px;
	height: 50px;
	margin: 0 80px 10px 80px;
	color: white;
	font-size: 30px;
	border-radius: 15px;
	background-color: #bfbfbf;
	color: black;
	border: 3px solid black;
	outline: : none;
}

.action:hover {
	background-color: #a6a6a6;
	cursor: pointer;
}

.player {
	color: brown;
}

.chips {
	height: 100px;
	width: 100px;
	text-align: center;
	border: 2px solid black;
	border-radius: 100px;
	color: white;
	vertical-align: center;
	display: inline-block;
	margin-right: 20px;
	outline: none;
	
}

.chips > h3 {
	padding-top: 20px;
}

.chips:hover {
	cursor: pointer;
}

#black {
	background: url('chips/black.png') no-repeat;
	background-size: cover;
}
#green {
	background: url('chips/green.png') no-repeat;
	background-size: cover;
}
#blue {
	background: url('chips/blue.png') no-repeat;
	background-size: cover;
}
#red {
	background: url('chips/red.png') no-repeat;
	background-size: cover;
}
#white {
	background: url('chips/white.png') no-repeat;
	background-size: cover;
}

input {
	height: 50px;
	width: 80px;
	border-radius: 10px;
	font-size: 20px;
	text-align: center;
}

#chipCount, #betSummary {
	display: inline-block;
	text-align: center;
	margin-right: 62px
}

#chipCount {
	background-color: #bfbfbf;
	padding: 0 10px;
	position: absolute;
}

#chipCount > h1 {
	margin: 0;
	padding: 0;
}

#chipCount > h2 {
	margin-top: 10px;
}

#chipWrapper {
	display: inline-block;
	background-color: #bfbfbf;
	border: 5px solid black;
	border-radius: 15px; 
	padding: 15px;
	width: 1055px;
	margin-top: 10px;
}

#bet {
	height: 200px;
	background: red;
}

.disabled {
	opacity: 0.5;
}

.disabled:hover {
	background-color: #bfbfbf;
	opacity: 0.5;
	cursor: default;
}

